*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Estilo para la sección de testimonios */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
  }
.testimonials-section {
    background-color: #f8f8f8;
    text-align: center;
    padding: 2rem;
}

.testimonials-section h2 {
    color: #333;
}

/* Estilo para los testimonios individuales */
.testimonial {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial h3 {
    font-size: 1.2rem;
    color: #333;
}

.testimonial p {
    font-size: 1rem;
    color: #666;
}

/* Estilo para el encabezado y el pie de página (si los tienes) */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
/* Estilo para el botón "Leer más" en los testimonios */
.testimonial .read-more {
    background-color: #007f7e;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.testimonial .read-more:hover {
    background-color: #005e5d; /* Cambio de color al pasar el mouse */
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

