*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 150px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0 15px;
  }
  .nav-list li a {
    text-decoration: none;
    color: #007f7e; 
    transition: color 0.3s;
  }
  
  .nav-list li a:hover {
    color: #005d5c;
  }
  .checkbtn{
    display: none;
  }
  .checkbox{
    display: none;
  }
  
  .cart-container {
    display: flex;
    align-items: center;
  }
  
  .cart {
    position: relative;
    cursor: pointer;
  }
  
  .count-product {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:#007f7e;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
  }
  
  .cart-products {
    position: relative;
    display: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    right: 0;
    top: 60px;
    z-index: 1;
  }
  
  .cart.active .cart-products {
    display: block;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  .servicios, .productos, .containerForm {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .carousel-container {
    width: 100%;
    overflow-x: hidden;
    height: 400px;
}

.carousel {
    display: flex;
    width: 100%;
    height: 300px;
    animation: slide 20s infinite alternate;
}

.carousel img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer a {
    color: #009dff;
  }
  /* Estilos generales */

/* Mostrar el checkbox y el icono de hamburguesa solo en dispositivos móviles */
@media (max-width: 768px) {
    #check {
      display: block;
    }
    
    .checkbtn {
      display: block;
    }
    
    .nav-list {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      background-color: #fff;
      top: 60px;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    /* Estilos adicionales para el menú móvil */
    .navbar.active .nav-list {
      display: flex;
      opacity: 1;
    }
    
    .nav-list li {
      margin: 10px 0;
    }
  }
  
  
    